<%include ../partials/header%>
	<section class="container-fluid">
		<div class="row min-vh-88 justify-content-center align-items-center">
			<div class="col-12 col-md-8">
				<form action="/campgrounds/<%=campground.id%>?_method=PUT" method="post" class="border shadow text-dark">
	<div class="text-center d-flex flex-column flex-md-row justify-content-center align-items-center p-2">
						<img src="/imgs/logo.png" class="img-fluid m-2" alt="YelpCamp logo"><h1 class="m-0"><%=campground.name%></h1>
					</div>
					<div class="form-row">
						<div class="col-lg-9">
							<div class="form-group m-0 px-4 pb-2">
								<label for="new-name">Name</label>
								<input type="text" name="name" placeholder="Name" value="<%=campground.name%>" id="new-name" class="form-control p-4 rounded-0 border-success font-weight-lighter">
							</div>
						</div>
						<div class="col-lg-3">
							<div class="form-group m-0 px-4 pb-2">
								<label for="new-price">Price</label>
								<input type="number" name="price" step="0.01" placeholder="Price" value="<%=campground.price%>" id="new-price" class="form-control p-4 rounded-0 border-success font-weight-lighter">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col">
							<div class="form-group m-0 px-4 py-2">
								<label for="new-image">Image</label>
								<input type="url" name="image" placeholder="Image's url" value="<%=campground.image%>" id="new-image" class="form-control p-4 rounded-0 border-success font-weight-lighter">
							</div>
						</div>
					</div>
					<div class="form-row">
						<div class="col-12">
							<div class="form-group m-0 px-4 py-2">
								<label for="new-description">Description</label>
								<textarea rows="6" name="description" placeholder="Description" id="new-description" class="form-control p-4 rounded-0 border-success font-weight-lighter"><%=campground.description%></textarea>
							</div>
						</div>
					</div>
					<div class="d-flex flex-column flex-md-row p-4">
						<button type="submit" class="btn btn-success w-100 p-0 p-4 rounded-0">Save</button>
						<a href="/campgrounds/<%=campground.id%>" class="btn btn-dark w-100 p-0 p-4 rounded-0 border-0 text-success">Go Back</a>
					</div>

				</form>

			</div>
		</div>
	</section>
	<%include ../partials/footer%>